<!DOCTYPE html>
<html lang="pl" ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Kurs AngularJS (eduweb.pl)</title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">

        <style>
            .user-avatar{
                float: right;
                height: 25px;
            }

            .light{
                background-color: #ddd;
            }

            .dark{
                background-color: #ccc;
            }

            .strong{
                font-weight: bold;
            }

            .underscore{
                text-decoration: underline;
            }

            .last{
                background-color: red;
            }

            .middle{
                background-color: orange;
            }

            .first{
                background-color: green;
            }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <a class="navbar-brand" href="#">
                <img src="img/angularjs-for-header-only.svg" alt="AngularJS">
            </a>

            <div class="navbar-heading">Dyrektywy i wyświetlanie - część II</div>
        </nav>


        <div class="container" ng-controller="ExampleController">
            <div class="row text-center">

              <div class="col-xs-4">
                <h3>All users</h3>
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="user in users" ng-class="{light: $even, dark: $odd}"> {{ $index +1 }} {{ user.name }} 
                  <img ng-src="{{ user.avatar }}" class="user-avatar">
                  </li>
                </ul>
              </div>

              <div class="col-xs-4">
                <h3>Active users</h3>
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="user in users" ng-show="user.active" ng-class="{light: $even, dark: $odd}"> {{ $index +1 }}  {{ user.name }} 
                  <img ng-src="{{ user.avatar }}" class="user-avatar">
                  </li>
                </ul>
              </div>

              <div class="col-xs-4">
                <h3>Admins</h3>
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="user in users" ng-show="user.role == 'admin'" ng-class="{light: $even, dark: $odd}"> {{ $index +1 }}  {{ user.name }} 
                  <img ng-src="{{ user.avatar }}" class="user-avatar">
                  </li>
                </ul>
              </div>

            </div>
        </div>

        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/main.js"></script>


        <script>
            var app = angular.module('exampleApp', []);

            app.controller('ExampleController', ['$scope', function($scope){
                $scope.adminStyle = {
                    color: 'red',
                    fontWeight: 'bold',
                    textDecoration: 'underline'
                };

                $scope.users = [
                    { name: 'Asia', active: true, role: "user", avatar: 'img/comedian.jpg' },
                    { name: 'Jarek', active: true, role: "user", avatar: 'img/confused.jpg' },
                    { name: 'Tomek', active: false, role: "user", avatar: 'img/constructive.jpg' },
                    { name: 'Maciek', active: true, role: "admin", avatar: 'img/cool.jpg' },
                    { name: 'Kasia', active: true, role: "user", avatar: 'img/enraged.jpg' },
                    { name: 'Rafał', active: false, role: "user", avatar: 'img/folkloric.jpg' },
                    { name: 'Filip', active: true, role: "user", avatar: 'img/happy.jpg' },
                    { name: 'Józek', active: true, role: "admin", avatar: 'img/horny.jpg' },
                    { name: 'Adam', active: true, role: "user", avatar: 'img/comedian.jpg' },
                    { name: 'Zuzia', active: true, role: "admin", avatar: 'img/folkloric.jpg' },
                    { name: 'Grzegorz', active: true, role: "user", avatar: 'img/happy.jpg' }
                ];
            }]);
        </script>


    </body>
</html>

<!--
ng-repeat="user in users"> {{ user.name }} - wyswietla tabele z nazwa uzytkownika
{{ $index +1 }} wyswietla numer indexu tabeli powiekszony o 1, czyli faktyczna pozycje na liscie
<img ng-src="{{ user.avatar }}" - wyswietla avatar uzytkownika

Dodatkowo
ng-show="user.active" - wyswietla tylko aktywnych uzytkownikow w drugiej kolumnie
ng-show="user.role == 'admin'" - wyswietla tylko adminow w trzeciej kolumnie

ng-class="{light: $even, dark: $odd} - dodaje klase .light dla elementow nieparzystych i klase .dark dla elementow parzystych.
Jak widac w drugiej kolumnie klasy nie zostaly wyswietlone naprzemian. Dzieje sie tak dlatego,
poniewaz pokazalismy jedynie wybrane elementy tablicy za pomoca dyrektywy ng-show.
Aby uzyskac porzadany efekt powinnnismy uzyc filtra zamiast dyrektywu ng-show.

-->