<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
	<meta charset="UTF-8">
	<title>Angular ex-06 two-way data binding</title>
	<script src="angular.min.js"></script>
	<script src="script.js"></script>
</head>
<body>
	<h3>js object example from controller</h3>

	<table ng-controller="myController">
		<tr>
			<td>First Name: </td>
			<td>{{ employeeExample.firstName }}</td>
		</tr>
		<tr>
			<td>Last Name: </td>
			<td>{{ employeeExample.lastName }} </td>
		</tr>
		<tr>
			<td>Gender: </td>
			<td>{{ employeeExample.gender }}</td>
		</tr>
	</table>

	<h3>Two-way data binding - default input value comes controller</h3>
	<div ng-controller="myController">
		<input type="text" ng-model="message" />
		<p>{{ message }}</p>
	</div>

	<h3>Two-way data binding example - no default value</h3>
	<p>Please type something in the input below</p>
	<div ng-controller="myController">
		<input type="text" ng-model="nonFromController" />
		<p>{{ nonFromController }}</p>
	</div>
	
</body>
</html>

<!-- 
ng-model="message" pochodzi z pliku js i zawiera on text - Hallo Angular! 

W zwiazku z tym, w pierwszym polu input i w pierwszym paragrafie pojawia sie ten sam tekst.
Wpisujac text w polu input zmieniamy jego wartosc w paragrafie, poniewaz dokonujemy two-way-databinding i Angular updatuje model.

Nastepnie mamy kolejne pole input i model ng-model="nonFromController".
Model ten nie pochodzi z kontrolera wiec nie posiada zadnego przypisanego textu.
Mimo to Angular utworzy w pamieci i updatuje model i text ktory wpisujemy w drugim polu input pojawia sie w drugim paragrafie.

<h3>More complex example</h3>
Ponizej tego tagu rozwiazenie wykorzystujace js object jako zrodlo danych.
-->

<!--
ng-model = "message" comes from js file and it contains text - Hallo Angular!


Therefore, in the first input field and in the first paragraph, the same text appears.
By entering the text in the input field, we change its value in the paragraph, because we make two-way-databinding and Angular updates the model.


Then we have another input field and model ng-model = "nonFromController".
This model does not come from the controller so it has no assigned text.
Still Angular will create and update the model and text that we enter in the second input box appears in the second paragraph.

-->