<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
	<meta charset="UTF-8">
	<title>Angular ex-07 ng-repeat directive</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script src="angular.min.js"></script>
	<script src="script.js"></script>
</head>
<body>
<div  class="container">

	<div ng-controller="myController">	
		<table class="table">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Gender</th>
					<th>Salary</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="employee in employees">
					<td>{{ employee.firstName }}</td>
					<td>{{ employee.lastName }}</td>
					<td>{{ employee.gender }}</td>
					<td>{{ employee.salary }}</td>
				</tr>
			</tbody>	
		</table>
		<!--
		Abowe we have a ng-repeat directive example.
		The data in the table comes from the employees array which is located in the controller (myController in script.js file).
		We can access to the employees array via the $scope.
		$scope.employees = employees;

		Then, to use ng-repeat directive we need to specify refference name for each element in the array.
		In our case let's assign the name "employee".
		The mechanism is similar to javascript forEach method.
		-->
	</div>

	<h3>Another example</h3>
	<div ng-controller="myController">
		<ul>
			<li ng-repeat="country in countries">
				{{ country.name }}
			</li>
		</ul>
	</div>

	<h3>More complex example</h3>
	<div ng-controller="myController">
		<ul>
			<li ng-repeat="country in countries">
				{{ country.name }}
				<ul>
					<li ng-repeat="city in country.cities">
						{{ city.name }}
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<h3>Finding index example</h3>
	<div ng-controller="myController">
		<ul>
			<li ng-repeat="country in countries">
				{{ country.name }} - the index is <b>{{ $index }}</b>
				<ul>
					<li ng-repeat="city in country.cities">
						{{ city.name }}  - the index is <b>{{ $parent.$index }}.{{ $index }}</b>
					</li>
				</ul>
			</li>
		</ul>
	</div>

</div>
</body>
</html>

<!--




******* Another example *********
W pliku js utworzylismy model o nazwie countries wygladajacy jak ponizej
var countries = [
									{
										name: 'UK',
										cities: [
															{name: 'London'},
															{name: 'Bristol'},
															{name: 'Leeds'},
														]
									},
									{
										name: 'Poland',
										cities: [
															{name: 'Warsaw'},
															{name: 'Krakow'},
															{name: 'Poznan'},
														]
									},
									{
										name: 'Germany',
										cities: [
															{name: 'Berlin'},
															{name: 'Hamburgh'},
															{name: 'Frankfurt'},
														]
									},
								];

$scope.countries = countries;


Zmienna countries to tabela posiadajaca troche bardziej zlozony obiekt, posiadajacy kolejne tabele, itd...
Referujemy do niej za pomoca 'countries' - $scope.countries = countries;

Po wprowadzeniu nastepujacego kodu do tagu <ul>

<li ng-repeat="country in countries">
		{{ country.name }}
</li>

zadamy przeprowadzenia petli w kazdym obiekt w tabeli 'countries' oraz wygenerowanie jego nazwy - 'name' 
w elemencie <li>



******* More complex example *********

Teraz chcemy wyswietlic nazwy panstw z nazwami ich miast.
Robimy to umieszczajac kolejna liste w kazdym elemencie <li> z nazwa panstwa.
Przeprowadzamy to za pomoca ponizszego kodu.

<ul>
	<li ng-repeat="country in countries">
		{{ country.name }}
		<ul>
			<li ng-repeat="city in country.cities">
				{{ city.name }}
			</li>
		</ul>
	</li>
</ul>





-->