<!DOCTYPE html>
<html lang="pl" ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Kurs AngularJS (eduweb.pl)</title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">

        <style>
            .user-avatar{
                float: right;
                height: 25px;
            }

            .light{
                background-color: #ddd;
            }

            .dark{
                background-color: #ccc;
            }

            .strong{
                font-weight: bold;
            }

            .underscore{
                text-decoration: underline;
            }

            .last{
                background-color: red;
            }

            .middle{
                background-color: orange;
            }

            .first{
                background-color: green;
            }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <a class="navbar-brand" href="#">
                <img src="img/angularjs-for-header-only.svg" alt="AngularJS">
            </a>

            <div class="navbar-heading">Dyrektywy i wyświetlanie - część II</div>
        </nav>


        <div class="container" ng-controller="ExampleController">
        
          <div class="row">
            <select class="form-control" ng-model="showUsers">
              <option value="all">All Users</option>
              <option value="active">Active Users</option>
              <option value="admins">Admins</option>
            </select>
          </div>
            <div class="row text-center" ng-switch on="showUsers">
              <div class="col-xs-4" ng-switch-when="all">
                <h3>All users</h3>
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="user in users" ng-class="{light: $even, dark: $odd}"> {{ $index +1 }} {{ user.name }} 
                  <img ng-src="{{ user.avatar }}" class="user-avatar">
                  </li>
                </ul>
              </div>

              <div class="col-xs-4" ng-switch-when="active" ng-switch-when="active">
                <h3>Active users</h3>
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="user in users" ng-show="user.active" ng-class="{light: $even, dark: $odd}"> {{ $index +1 }}  {{ user.name }} 
                  <img ng-src="{{ user.avatar }}" class="user-avatar">
                  </li>
                </ul>
              </div>

              <div class="col-xs-4" ng-switch-when="admins">
                <h3>Admins</h3>
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="user in users" ng-show="user.role == 'admin'" ng-class="{light: $even, dark: $odd}" ng-style="adminStyle"> {{ $index +1 }}  {{ user.name }} 
                  <img ng-src="{{ user.avatar }}" class="user-avatar">
                  </li>
                </ul>
              </div>

            </div>
        </div>

        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/main.js"></script>


        <script>
            var app = angular.module('exampleApp', []);

            app.controller('ExampleController', ['$scope', function($scope){
                $scope.adminStyle = {
                    color: 'red',
                    fontWeight: 'bold',
                    textDecoration: 'underline'
                };

                $scope.users = [
                    { name: 'Asia', active: true, role: "user", avatar: 'img/comedian.jpg' },
                    { name: 'Jarek', active: true, role: "user", avatar: 'img/confused.jpg' },
                    { name: 'Tomek', active: false, role: "user", avatar: 'img/constructive.jpg' },
                    { name: 'Maciek', active: true, role: "admin", avatar: 'img/cool.jpg' },
                    { name: 'Kasia', active: true, role: "user", avatar: 'img/enraged.jpg' },
                    { name: 'Rafał', active: false, role: "user", avatar: 'img/folkloric.jpg' },
                    { name: 'Filip', active: true, role: "user", avatar: 'img/happy.jpg' },
                    { name: 'Józek', active: true, role: "admin", avatar: 'img/horny.jpg' },
                    { name: 'Adam', active: true, role: "user", avatar: 'img/comedian.jpg' },
                    { name: 'Zuzia', active: true, role: "admin", avatar: 'img/folkloric.jpg' },
                    { name: 'Grzegorz', active: true, role: "user", avatar: 'img/happy.jpg' }
                ];

            }]);
        </script>


    </body>
</html>

<!--
Dyrektywa omowiona w tej lekcji jest dyrektywa ng-switch.
Posluzymy sie nia do wyswietlenia poszczegolnych tabel uzytkownikow.

Na poczatku tworzymy element select z trzema opcjami wyboru - patrz linia 64.
Kazda opcja musi miec swoja wartosc, np value="all".

Zadaniem elementu select jest wybor tabeli a nastepnie wyswietlenie jej na ekranie.
Aby to uzyskac, w pierwszym kroku musimy uzyc dyrektywy ng-model="showUsers".
Teraz w przestrzeni kodu posiadamy nowa zmienna o nazwie showUsers, ktora zostanie ustawiona 
w zaleznosci od wybranej opcji i bedzie to: all, active lub admins.

Nastepnie dla diva bedacego wrapperem naszych trzech tabel, musimy uzyc dyrektywu ng-switch on="showUsers".
showUsers w tym przypadku jest to zmienna dyrektywu ng-model, ktora bedzie nasluchiwana prze ng-switch on.

Aby wyswietlic wybrana tablice, musimy posluzyc sie dyrektywa ng-switch-when, 
np: ng-switch-when="all" - gdzie all to wartosc przypisana atrybutowi value w naszym selekcie.
Dyrektyw ng-switch-when uzyc musimy na kazdym elemencie ktory chcemy wyswietlic. W naszym przypadku na
kazdej kolumnie zawierajacej tablice i jej nazwe.
-->







