<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
	<meta charset="UTF-8">
	<title>Angular ex-19 services</title>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="angular.min.js"></script>
	<script src="script.js"></script>
</head>
<body>
	<div class="container" ng-controller="myController">
		<table class="table">
			<tr>
				<td>Enter your text</td>
				<td><input type="text" ng-model="input"></td>
			</tr>
			<tr>
				<td>Corrected text</td>
				<td><input type="text" ng-model="output"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="button" class="btn btn-info" value="Correct" ng-click="transformString(input)"></td>
			</tr>
		</table>
	</div>
</body>
</html>


<!--
In AngularJS, a service is a function, or object, that is available for, and limited to, AngularJS application.
In AngularJS we can make our own service, or use one of the many built-in services.


Let's start from declaring ng-models.

For the "Enter your text" window
ng-model="input"

And for "Corrected text" window
ng-model="output"


Now wee need to specify what we want to do when user clicks the button.
For this we will use ng-click directive with assigned function.
ng-click="transformString()
Then we need to provide the data to the function. In our case it is an input data entered by the user.
ng-click="transformString(input)

Now we need to define the transformString() function in the controller. in our case in the script.js file.



-->